.movie{
     position: relative;
    display: inline-block;
    width: 14.5%;
    margin: 0 1% 1.5% 0;
img{
    width: 100%;
 }
 .top{
    position: absolute;
    top: 1px;
    left: 5px;
    font-size: x-large;
    color:var(--basicNegative);
    // z-index: 2;
    font-weight: bolder;
    text-shadow: 1.5px 1.5px var(--basic);
 }


 @media only screen and (max-width: 768px) {
     width: 23%;     
}
}