.Details{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--basic);
    top:0;
    left: 0;
    opacity: 0.96;
    z-index: 2;
    .container{
        width: 40%;
        background-size: cover;
        height: 100vh;
        opacity: 0.8;
       i{
           padding: 3%;
           text-shadow: 1px 1px var(--darkDesign);
       }
       .buttomPage{
           width: 100%;
           padding: 3%;
           background-color: var(--darkDesign);
           margin-top: 60vh;
           .name{
               font-size: large;
               font-weight: bold;
           }
           .pramis{
               font-size: small;
           }
       }
    }

    //to mobile 
    @media only screen and (max-width: 768px) {
        .container{
            width: 100%;
            height: 70vh;
            margin-top:5vh;
            .buttomPage{
                margin-top: 60vh;
            }
        }
    }
}